<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>单行 多列等份布局 + 边距</title>
    <style>
        .parent{
            display: flex;/* 关键代码 */

            background: #f7f7f7;
        }
        .child{
            flex: 1;/* 关键代码 */
            margin: 20px;/* 关键代码 边距 */

            background: #ddd;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="child">A</div>
        <div class="child">B</div>
        <div class="child">C</div>
        <div class="child">D</div>
        <div class="child">E</div>
    </div>
</body>
</html>
